<div class="row">
  <div class="col-sm-3">
    <div class="card mt-4">
      <div class="card-block">
        <p>stats</p>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-block">
        <p>trends</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-block">
        <p><%= post.content %></p>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-sm-3">
    <div class="card mt-4">
      <div class="card-block">
        <p>about</p>
      </div>
    </div>
  </div>
</div>




